* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: #efefef;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: var(--font);
    height: 100%;
}

.main {
    font-family: var(--font);
    background-color: var(--bg);
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 320px;
    grid-template-rows: 30px 20px 1fr 0.3fr 3fr;
    grid-template-areas:
        "header header"
        "navigation history"
        "display history"
        "option history"
        "keyboard history";
}

/* --------------------------------------------grid ------------------------------*/

.header {
    grid-area: header;
}

.navigation {
    grid-area: navigation;
}

.history {
    height: 150px;
    grid-area: history;
}

.display {
    grid-area: display;
    margin-top: 10px;
}

.option {
    grid-area: option;
}

.keyboard {
    grid-area: keyboard;
}

/*-------------------------------------------Header------------------------------*/

.program_name {
    margin: 5px 5px;
}

.top_of_window {
    display: flex;
    justify-content: space-between;
    grid-area: header;
}

.top_right_of_site {
    display: flex;
}

.top_right_of_site button {
    width: 40px;
    height: 33px;
    background-color: #c0c0c000;
}

.close_button {
    font-size: 14px;
}

.close_button:hover {
    background-color: red;
    color: white;
}

.second_button:hover {
    background-color: var(--hover-gray);
}

.restore-down {
    width: 15px;
    height: 15px;
}

.mmc:hover {
    background-color: var(--hover-gray);
}

/*-------------------------------------- navigation-------------------------------*/

.navigation {
    display: flex;
}

.navigation img {
    margin-left: 10px;
}

.navigation p {
    font-size: 25px;
    padding-top: 6px;
    margin-left: 5px;
}

.nav_pic {
    width: 39px;
    height: 43px;
}

.save_pic {
    width: 20px;
    height: 24px;
    margin-top: 11px;
}

.btnNavigation {
    width: 35px;
    height: 43px;
    font-size: 17px;
    background-color: var(--bgBtn);
    border-radius: var(--borderradius);
}

.btnNavigation:hover {
    background-color: var(--hover-gray);
}

/*----------------------------------------- history---------------------------------*/

.history {
    height: 100%;
    overflow: scroll;
}

.history span {
    font-size: 20px;
    margin-right: 50px;
}

.historyFunc {
    margin-top: 20px;
}

.historyBtn {

    font-size: 21px;
    margin-right: 54px;
    background-color: var(--bgBtn);

}

.active {
    border-bottom: 2px solid #f57308;
    padding-bottom: 4px;
}

.memoryBtn {
    font-size: 21px;
    ;
    background-color: var(--bgBtn);
}



.text_of_below_history {
    font-size: 15px;
}

#textOfHistory {
    display: block;
    font-size: 17px;
    margin-top: 19px;
}

#textOfMemory {
    display: block;
    font-size: 17px;
    margin-top: 19px;
}

.hide {
    display: none !important;
}

/* history in mini size mode*/

.historyMiniSize {
    position: absolute;
    top: 7%;
    right: 4%;
    background-color: #c0c0c031;
}

.showMinihistory {
    width: 100%;
    height: 400px;
    background-color: #62a394f5;
    z-index: 1;
    position: absolute;
    top: 225px;
    padding: 34px;
}

.closeMiniHistory {
    position: absolute;
    top: 4%;
    right: 11px;
    height: 10px;
}

.contentMiniHistory {
    margin: 25px 100px;
}

.showInMiniHistory {
    font-size: 25px;
}

.closeBtnMiniHistory {
    background-color: crimson;
    width: 23px;
    padding: 3px;
}

.clearMiniHistory {
    position: absolute;
    top: 84%;
    right: 2%;
    width: 18px;
    width: 40px;
    height: 56px;
    font-size: 32px;
    background-color: initial;
}
.clearMiniHistory:hover{
    /* background-color: rgba(255, 255, 0, 0.466); */
    border: 5px solid #a36262;
    border-radius: 20px;
}
/*--------------------------------functionlty history-----------------------------------*/
.contetnthistory {
    margin-left: 9%;
    border-bottom: 2px solid;
    border-left: 1px solid;
    margin-top: -8px;
    background-color: #ddd4c8;
    transition: all;
}

.contetnthistory p {
    margin-left: 40%;
    padding: 25px;
    font-size: 20px;
    font-weight: bold;
}

.displayshow {
    display: none;
}

/* --------------------memory-------------*/
.memoryFunc p {
    margin-top: 18px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 26px;
}

.memoryFunc {
    margin-top: 15px;
}

.memoryDataSaved {
    margin-left: 9%;
    padding: 10px;
}

.memoryDataSaved:hover {
    background-color: var(--hover-gray);
}

.memoryDataSaved p {
    margin-left: 20px;
}

.buttonsInMemory {
    display: flex;
    justify-content: center;
    display: none;
}

.memoryDataSaved button {
    margin-left: 3px;
    padding: 5px;
    font-size: 15px;
}

.memoryDelete {
    padding: 6px;
    font-size: 14px;
    margin-left: 148px;
    margin-bottom: 16px;
    border: 1px solid black;
    cursor: pointer;
}

.memoryDelete:hover {
    padding: 7px;
    font-size: 16px;
    background-color: #0096878e;
    border-radius: 5px;
    margin-left: 145px;
}

/*------------------------------------------- Display------------------------------------*/


.display_text {
    font-size: 45px;
    right: 14px;
    top: 20px;
    float: right;
    margin-right: 15px;
    margin-top: 20px;
}

#showBeforResult {
    color: #009688;
    font-size: 20px;
    top: 20px;
    margin-right: 15px;
    display: block;
    position: relative;
    left: 94%;
    width: 85px
}

/*------------------------------------------- option --------------------------------------*/

.cal_option {
    max-width: 400px;
    width: 100%;
    margin-left: 10px;
    margin-bottom: 0;
}

.cal_option button {
    width: 18%;
    height: 32px;
    background-color: #c0c0c000;
}

.cal_option button:hover {
    background-color: var(--hover-gray);
    border-radius: var(--borderradius);
}

/*------------------------------------------- keyboard --------------------------------------*/

.cal_keyboard {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 19.9%);
    column-gap: 2px;
}

.grid5 {
    font-size: 23px;
}

.radicalnew {
    width: 25px;
    height: 22px;
}

.gridx2,
.gridx3 {
    font-size: 20px;
}

.cal_keyboard button {
    margin: 1px 1px;
    border-radius: var(--borderradius);
}

.cal_keyboard button:hover {
    background-color: var(--hover-gray);
}

.grid2,
.grid3 {
    font-size: 16px;
}

.grid_num_size {
    font-size: 24px;
}


.number_color {
    background-color: var(--number-buttons);
}

.percent {
    font-size: 18px;
}

.grid4 img {
    width: 20px;
}

.grid22 {
    font-size: 40px;
}

/* ------------------------------------responsive width--------------------------------*/

@media screen and (max-width: 1024px) {
   
    .cal_keyboard {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 16.7%);
        column-gap: 2px;
    }

    .gridx3 {
        display: none;
    }

    .grid7 {
        order: -3;
    }

    .grid1 {
        order: -4;
    }

    .gridx2 {
        order: -2;
    }

    .grid5 {
        order: -1;
    }
}

@media screen and (max-width : 740px) {

    .main {
        grid-template-columns: minmax(53%, auto) minmax(38%, 320px);
    }
    #showBeforResult{
        color: #009688;
        font-size: 20px;
        top: 20px;
        margin-right: 15px;
        display: block;
        position: relative;
        left: 81%;
        width: 85px;
    }
}
@media screen and (max-width : 950px){
    #showBeforResult{
        color: #009688;
        font-size: 20px;
        top: 20px;
        margin-right: 15px;
        display: block;
        position: relative;
        left: 89%;
        width: 85px;
    }
}
@media screen and (max-width : 500px) {
    .history {
        display: none;
    }

    .main {
        grid-template-columns: minmax(100%, 300px);

    }

    .main {
        grid-template-areas:
            "header"
            "navigation"
            "display"
            "option"
            "keyboard"
        ;
    }

    .chosethem {
        display: none;
    }

    .choseThemCustom {
        display: none;
    }

    .claerHistory {
        display: none;
    }

    .historyMiniSize {
        display: block !important;
    }

    .display_text {
        font-size: 39px;
        right: 14px;
        top: 20px;
        float: right;
        margin-right: 45px;
        margin-top: 22px;
    }

    #showBeforResult {
        color: #009688;
        font-size: 20px;
        top: 20px;
        margin-right: 39px;
        display: block;
        position: relative;
        left: 81%;
        width: 85px;
    }
    
}
@media screen and (min-width : 500px) {
     .showMinihistory{
        display: none;
    }
}
/*------------------------------------responsive height--------------------------------*/
@media screen and (max-height : 600px) {
    .cal_keyboard {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 16.7%);
        column-gap: 2px;
    }

    .gridx3 {
        display: none;
    }

    .grid7 {
        order: -3;
    }

    .grid1 {
        order: -4;
    }

    .gridx2 {
        order: -2;
    }

    .grid5 {
        order: -1;
    }
}

@media screen and (max-height : 410px) {
    /* .main{
        grid-template-rows: minmax(410px,auto);
    } */
}


@media screen and (max-height : 450px) {
    .cal_keyboard {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 16.2%);
        column-gap: 2px;
    }
}

.themable {
    background-color: var(--aroundbtn);
}

/*-----------themable-----------*/

.default {
    --bg: #c0c0c071;
    --bgBtn: #d9d9d9;
    /* --semi-buttons: #f7f7f7; */
    --number-buttons: rgb(253, 253, 253);
    --hover-gray: #bdbdbd;
    --aroundbtn: rgb(239 239 239);
    /* --menu-hover: #e3e3e3; */
    /* --border: rgba(177, 177, 177, 0.644); */
    /* --red: rgb(236,57,71); */
    /* --text: #000; */
    --font: 'Gantari', sans-serif;
}

.green {
    --bg: rgb(215, 232, 126);
    /* --semi-buttons: #f7f7f7; */
    --number-buttons: rgb(174, 223, 73);
    --hover-gray: rgb(73, 155, 62);
    --aroundbtn: rgb(125, 200, 63);
    --borderradius: 20px;
    --font: 'Uchen', serif;
    /* --menu-hover: #e3e3e3; */
    /* --border: rgba(177, 177, 177, 0.644); */
    /* --red: rgb(236,57,71); */
    /* --text: #000; */

}

.blue {
    --bg: rgb(195, 234, 249);
    /* --semi-buttons: #f7f7f7; */
    --number-buttons: rgb(127, 211, 240);
    --hover-gray: rgb(0, 103, 185);
    --aroundbtn: rgb(63 175 200);
    --borderradius: 20px 0 20px 0;
    --font: 'Uchen', serif;
    /* --menu-hover: #e3e3e3; */
    /* --border: rgba(177, 177, 177, 0.644); */
    /* --red: rgb(236,57,71); */
    /* --text: #000; */

}

.blue {
    --bg: rgb(195, 234, 249);
    /* --semi-buttons: #f7f7f7; */
    --number-buttons: rgb(127, 211, 240);
    --hover-gray: rgb(0, 103, 185);
    --aroundbtn: rgb(63 175 200);
    --borderradius: 20px 0 20px 0;
    --font: 'Uchen', serif;
    /* --menu-hover: #e3e3e3; */
    /* --border: rgba(177, 177, 177, 0.644); */
    /* --red: rgb(236,57,71); */
    /* --text: #000; */

}

.custom {
    --bg: #32bfb185;
    /* --semi-buttons: #f7f7f7; */
    --number-buttons: #779b9bab;
    --hover-gray: #955a5ab3;
    --aroundbtn: rgb(65 142 177 / 46%);
    --borderradius: 34px;
    /* --menu-hover: #e3e3e3; */
    /* --border: rgba(177, 177, 177, 0.644); */
    /* --red: rgb(236,57,71); */
    /* --text: #000; */
    --font: 'Gantari', sans-serif;
}



/* ------------chose them -----------------*/
.chosethem {
    position: absolute;
    background-color: #af9c9c;
    top: 93%;
    right: 2%;
    width: 49px;
    height: 26px;
    border-radius: 4px;
    font-size: 18px;
}

.claerHistory {
    position: absolute;
    background-color: var(--bgBtn);
    top: 92%;
    right: 6%;
    width: 40px;
    height: 37px;
    border-radius: 100%;
    font-size: 29px;
    cursor: pointer;
}

.choseThemCustom {
    border: 2px solid black;
    width: 120px;
    height: 55px;
    padding: 5px;
    position: absolute;
    top: 90%;
    right: 10%;
    border-radius: 5px;
}